@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1 class="max--width" style="text-align:center;">TLN Book Store</h1>
    <p class="lead max--width" style="text-align:center;">We are the largest online bookstore in the whole of Europe</p>
</div>
    <div class="row max--width home-container">
        <div class="col-md-4 home-text">
            <h3 class="max--width" style="text-align:center;">DELIVERY</h3>
            <br>
            <p style="text-align:center;">
                Free Shipping available to all customers on qualifying orders over 25€. Members of our website get exclusive access to FREE One-Day Delivery!
            </p>
        </div>
        <div class="col-md-4 home-text">
            <h3 class="max--width" style="text-align:center;">ABOUT US</h3>
            <br>
            <p style="text-align:center;">
                TLN Book Store Storage boasts an impressive 68,000 square feet (that's 1.6 acres!) of retail sales floor — on which you can find over 1 million books. The store reportedly sells over 3,000 books per day!
            </p>
        </div>
        <div class="col-md-4 home-text">
            <h3 class="max--width" style="text-align:center;">SUPPORT</h3>
            <br>
            <p style="text-align:center;">
                If you're awake, we are too. When you need help, our team of experts work directly with you via our 24/7 live chat to reach a quick and efficient resolution!
            </p>
        </div>
    </div>
